.right-panel {
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    width: 325px;
    border: 5px solid rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.85);
  }

  .input-form {
    position: fixed;
    top: 5%;
    bottom: auto;
    right: 2.5%;
    left: auto;
  }

  